#root {
  margin: 20px auto;
  background-color: #080808;
  box-shadow: 0px 0px 2px #ffffff;
}

section {
  padding: 5px 10px;
}

.Header {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-items: start;
}

.Main {
  display: grid;
  grid-template: 20% 20% 20% 20% 20% / 20% 20% 20% 20% 20%;
}





